@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.info-container{
    padding-top: 5%;
    text-align: center;
    color: black;
    width: 98%;
    height: 10%;
    font-family: "Open-Sans", sans-serif;
    border-radius: 25px;
    margin: auto;


    background-color: #F6F6F6;
}

h1 {
    font-weight: 990;
    font-size: 250%;
    font-family: "Open-Sans", sans-serif;
    text-align: left;
    padding-left: 2%;
}

.images-container{
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    color: black;
    width: 98%;
    height: 10%;
    font-family: "Open-Sans", sans-serif;
    border-radius: 25px;
    margin: auto;


    background-color: #F6F6F6;
}

.image{
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
}

.login-container{
    width: 50%;
    height: auto;
    padding-top: 0.5%;
    text-align: center;
    color: white;
    min-width: 300px;
    
    height: 10%;
    font-family: "Open-Sans", sans-serif;
    border-radius: 25px;
    margin: auto;


    background-color: #02253E;
}



.center{
    text-align: center;
    align-items: center;
    margin-left: 25%;
    padding-bottom: 1%;
    display:flex;
}
