body {
    margin: 0;
    padding: 0;
}

.info-container, .login-container {
  margin: 0 auto;
  text-align: center;
  background-color: rgb(239, 239, 239);
}

.info-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(239, 239, 239);
}

.image-line {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.image-aligner{
    display:inline-block;
    margin: 0 50px;
}

.login-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
