body {
    margin: 0;
    padding: 0;
}

.input-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.signup-container, .signup-container2{
    text-align: center;
    width:50%;
    min-height: 800px;
    padding-top: 50px;
}

.signup-container{
    float: left;
    color: white;
    padding-top: 120px;
    background-color: #02253E;
}

.signup-container2{
    float: right;
}

.signup-container > h1{
    padding-top: 100px;
}

@media screen and (max-width:800px){
    .signup-container, .signup-container2 {
        width: 100%;
        height: 55vh;
        float: none;
        padding-top: 10px;
    }

    .signup-container2{
        padding-top: 0;
    }

    #button > Button {
        min-width: 100px;
    }
}