.input-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.signup-container, .signup-container2{
    text-align: center;
    width:50%;
    height: 100vh;
    padding-top: 240px;
}

.signup-container{
    float: left;
    color: white;
    background-color: #02253E;
}

.signup-container2{
    float: right;
}

.signup-container > h1{
    padding-top: 150px;
}

@media screen and (max-width:800px){
    .signup-container, .signup-container2 {
        width: 100%;
        height: 55vh;
        float: none;
        padding-top: 130px;
    }
}