.input-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.login-container, .login-container2 {
    text-align: center;
    width:50%;
    height: 100vh;
    padding-top: 200px;
}

.login-container{
    float: left;
}

.login-container2{
    background-color: #02253E;
    color: white;
    float: right;
}

.login-container2 > h1{
    padding-top: 100px;
}

@media screen and (max-width:800px){
    .login-container, .login-container2 {
        width: 100%;
        height: 55vh;
        float: none;
        padding-top: 130px;
    }
}