.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #2171b8;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

p {
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.image-container {
    position: absolute;
    right: 0;
}

.elanco-logo2{
    width: 100%;
}